<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="app/tabs/home" ></ion-back-button>
      </ion-buttons>
      <ion-title>
        Gallery
      </ion-title>
    </ion-toolbar>
    </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-grid fixed>
        <ion-row align-items-stretch>
          <ion-col size="12" size-md="3" *ngFor="let pic of gallery">
            <ion-card class="card">
              <ion-card>
                  <img [src]="pic.picture" alt="icon.png"/>
                </ion-card>
                </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>
