<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{speaker?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="speaker-detail">
  <div text-center *ngIf="speaker">
    <img [src]="speaker.profilePic" [alt]="speaker.name">
    <br>

    <!--<ion-button fill="clear" size="small" color="twitter">
      <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" color="github">
      <ion-icon name="logo-github" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" color="instagram">
      <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
    </ion-button>-->
  </div>

  <div *ngIf="speaker?.imageAvailable==='true'">
    <a [href]="speaker.link">Click here for images</a>
  </div>

  <p>{{speaker?.about1}}</p>
  <p>{{speaker?.about2}}</p>
  <p>{{speaker?.about3}}</p>
  <p>{{speaker?.about4}}</p>
  <p>{{speaker?.about5}}</p>
  <p>{{speaker?.about6}}</p>
  <p>{{speaker?.about7}}</p>
  <p>{{speaker?.about8}}</p>
  <p>{{speaker?.about9}}</p>
  <p>{{speaker?.about10}}</p>
  <p>{{speaker?.about11}}</p>
  <p>{{speaker?.about12}}</p>
  <p>{{speaker?.about13}}</p>
  <p>{{speaker?.about14}}</p>
  <p>{{speaker?.about15}}</p>
  <p>{{speaker?.about16}}</p>
  <p>{{speaker?.about17}}</p>
  <p>{{speaker?.about18}}</p>
  <p>{{speaker?.about19}}</p>
  <p>{{speaker?.about20}}</p>
  <p>{{speaker?.about21}}</p>
  <p>{{speaker?.about22}}</p>
  <p>{{speaker?.about23}}</p>
  <p>{{speaker?.about24}}</p>
  <p>{{speaker?.about25}}</p>
  <p>{{speaker?.about26}}</p>
  <p>{{speaker?.about27}}</p>
  <p>{{speaker?.about28}}</p>
  <p>{{speaker?.about29}}</p>
  <p>{{speaker?.about30}}</p>
  <p>{{speaker?.about31}}</p>
  <p>{{speaker?.about32}}</p>
  <p>{{speaker?.about33}}</p>
  <p>{{speaker?.about34}}</p>
  <p>{{speaker?.about35}}</p>
  <p>{{speaker?.about36}}</p>
  <p>{{speaker?.about37}}</p>
  <p>{{speaker?.about38}}</p>
  <p>{{speaker?.about39}}</p>
  <p>{{speaker?.about40}}</p>
  <p>{{speaker?.about41}}</p>
  <p>{{speaker?.about42}}</p>
  <p>{{speaker?.about43}}</p>
  <p>{{speaker?.about44}}</p>
  <p>{{speaker?.about45}}</p>
  <p>{{speaker?.about46}}</p>
  <p>{{speaker?.rules0}}</p>
  <p>{{speaker?.rules1}}</p>
  <p>{{speaker?.rules2}}</p>
  <p>{{speaker?.rules3}}</p>
  <p>{{speaker?.rules4}}</p>
  <p>{{speaker?.rules5}}</p>
  <p>{{speaker?.rules6}}</p>
  <p>{{speaker?.rules7}}</p>
  <p>{{speaker?.rules8}}</p>
  <p>{{speaker?.rules9}}</p>
  <p>{{speaker?.rules10}}</p>
  <p>{{speaker?.rules11}}</p>
  <p>{{speaker?.rules12}}</p>
  <p>{{speaker?.rules13}}</p>
  <p>{{speaker?.rules14}}</p>
  <p>{{speaker?.rules15}}</p>
  <p>{{speaker?.rules16}}</p>
</ion-content>
