<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/app/tabs/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Developers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="speaker-detail">
  <div text-center >
    <ion-label>
      <h1>App Developers</h1>
    </ion-label>
    <ion-card class="card">
      <ion-card (click)="openLinkedIn('nadeem-bhati')">
        <img src="https://nadeemb53.github.io/Prajwalan19/src/assets/img/contact/WebApp/me_pic.jpeg"/>
        <ion-card-content>
          <ion-card-title> 
            Nadeem Bhati
            <ion-icon class ="linkedin" name="logo-linkedin" ></ion-icon>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-card>
    <ion-card class="card">
      <ion-card>
        <img src="https://nadeemb53.github.io/Prajwalan19/src/assets/img/contact/WebApp/rohitb.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Rohit Balage
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-card>
    <ion-card class="card">
      <ion-card>
        <img src="https://nadeemb53.github.io/Prajwalan19/src/assets/img/contact/WebApp/poojak.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Pooja Karangale
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-card>
    <ion-card class="card">
      <ion-card>
        <img src="https://nadeemb53.github.io/Prajwalan19/src/assets/img/contact/WebApp/aditya.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Aditya Chichghare
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-card>
    <ion-card class="card">
      <ion-card>
        <img src="https://nadeemb53.github.io/Prajwalan19/src/assets/img/contact/WebApp/shivansh.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Shivansh Khare
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-card>
    <ion-card class="card">
        <ion-card>
          <img src=""/>
          <ion-card-content>
            <ion-card-title>
              Tarshal Nimawat
            </ion-card-title>
          </ion-card-content>
        </ion-card>
    </ion-card>
  </div>
  <br>
  <div text-center >
    <ion-label>
      <h1> Web Developers </h1>
    </ion-label>
    <ion-card class="card">
    <ion-card>
        <img src="https://nadeemb53.github.io/Prajwalan19/src/assets/img/contact/WebApp/sumit.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Sumit Kumar Jahangir
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-card>
    <ion-card class="card">
      <ion-card>
        <img src="https://nadeemb53.github.io/Prajwalan19/src/assets/img/contact/WebApp/saurish.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Saurish Darodkar
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      </ion-card>
      <ion-card class="card">
      <ion-card>
        <img src="https://nadeemb53.github.io/Prajwalan19/src/assets/img/contact/charu1.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Charu Vidhani
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      </ion-card>
      <ion-card class="card">
      <ion-card>
        <img src="https://nadeemb53.github.io/Prajwalan19/src/assets/img/contact/akshat.jpeg"/>
        <ion-card-content>
          <ion-card-title>
            Akshat Chaturvedi
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      </ion-card>
      <ion-card class="card">
          <ion-card>
            <img src="https://nadeemb53.github.io/Prajwalan19/src/assets/img/contact/vaish.jpg"/>
            <ion-card-content>
              <ion-card-title>
                Vaishnavi Patil
              </ion-card-title>
            </ion-card-content>
          </ion-card>
          </ion-card>
          <ion-card class="card">
            <ion-card>
              <img src="https://nadeemb53.github.io/Prajwalan19/src/assets/img/contact/mohit.jpg"/>
              <ion-card-content>
                <ion-card-title>
                  Mohit Rakhade
                </ion-card-title>
              </ion-card-content>
            </ion-card>
            </ion-card>
  </div>
</ion-content>
