<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="app/tabs/home" ></ion-back-button>
      </ion-buttons>
      <ion-title>
        Sponsors
      </ion-title>
    </ion-toolbar>
    </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-grid fixed>
        <ion-row align-items-stretch>
          <ion-col size="12" size-md="3" *ngFor="let sponsor of sponsors">
            <ion-card class="card">
              <ion-card>
                  <img [src]="sponsor.picture" alt="icon.png"/>
                  <ion-card-content>
                    <ion-card-title>
                      {{sponsor.name}}
                      </ion-card-title>
                    <p>
                      {{sponsor.desc}}
                    </p>
                    <p>
                      {{sponsor.desc1}}
                    </p>
                  </ion-card-content>
                </ion-card>

                </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>