<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/about"></ion-back-button>
    </ion-buttons>
    <ion-title>{{committee?.committee}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="speaker-detail" *ngIf="committee">
  <div text-center *ngFor="let card of committee.cards" >
    <ion-card>
        <img [src]="card.profilePic"/>
        <ion-card-content>
          <ion-card-title>
            {{card.name}}
            </ion-card-title>
          <p>
            {{card.post}}
          </p>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>
