<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
    <!--<ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<!--<ion-content>
  <div class="about-header">
    <img src="assets/img/ionic-logo-white.svg" alt="ionic logo">
  </div>
  <div padding class="about-info">
    <h4>Ionic Conference</h4>

    <ion-list lines="none">
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" max="2056" [(ngModel)]="conferenceDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Location</ion-label>
        <ion-select>
          <ion-select-option value="madison" selected>Madison, WI</ion-select-option>
          <ion-select-option value="austin">Austin, TX</ion-select-option>
          <ion-select-option value="chicago">Chicago, IL</ion-select-option>
          <ion-select-option value="seattle">Seattle, WA</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <p>
      The Ionic Conference is a one-day conference featuring talks from the Ionic team. It is focused on Ionic applications being
      built with Ionic 2. This includes migrating apps from Ionic 1 to Ionic 2, Angular concepts, Webpack, Sass, and many
      other technologies used in Ionic 2. Tickets are completely sold out, and we’re expecting more than 1000 developers
      – making this the largest Ionic conference ever!
    </p>
  </div>
</ion-content>-->

<ion-content class="outer-content">
    <ion-list>
      <ion-grid fixed>
        <ion-row align-items-stretch>
          <ion-col size="12" size-md="3" *ngFor="let committee of committees">
            <ion-card class="speaker-card">
              <ion-card-header>
                  <!--<ion-avatar slot="start">
                      <img [src]="speaker.profilePic" alt="Speaker profile pic">
                  </ion-avatar>-->
                <ion-item detail="false" lines="none" routerLink="/app/tabs/about/contact-details/{{committee.id}}">
                  {{committee.committee}}
                </ion-item>
              </ion-card-header>
            </ion-card>
            <!--<ion-card class="speaker-card">
              <ion-card-header>
                <ion-item detail="false" lines="none" routerLink="/app/tabs/speakers/speaker-details/{{speaker.id}}">
                  <ion-item detail="false" lines="none">
                  <ion-avatar slot="start">
                    <img [src]="committee.profilePic" alt="committee member profile pic">
                  </ion-avatar>
                  {{committee.name}}
                </ion-item>
              </ion-card-header>
  
              <ion-card-content>
                <ion-list>
                  <ion-item *ngFor="let session of committee.sessions" routerLink="/app/tabs/committees/session/{{session.id}}">
                    <h3>{{session.name}}</h3>
                  </ion-item>
  
                  <ion-item routerLink="/app/tabs/speakers/speaker-details/{{speaker.id}}">
                    <h3>About {{committee.name}}</h3>
                  </ion-item>
                </ion-list>
              </ion-card-content>
  
              <!--<ion-row no-padding justify-content-center>
                <ion-col text-left size="4">
                  <ion-button fill="clear" size="small" color="primary" (click)="goToSpeakerTwitter(committee)">
                    <ion-icon name="logo-twitter" slot="start"></ion-icon>
                    Tweet
                  </ion-button>
                </ion-col>
                <ion-col text-center size="4">
                  <ion-button fill="clear" size="small" color="primary" (click)="openSpeakerShare(committee)">
                    <ion-icon name="share-alt" slot="start"></ion-icon>
                    Share
                  </ion-button>
                </ion-col>
                <ion-col text-right size="4">
                  <ion-button fill="clear" size="small" color="primary" (click)="openContact(committee)">
                    <ion-icon name="chatboxes" slot="start"></ion-icon>
                    Contact
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card>-->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>
