.map-canvas {
  position: absolute;

  height: 100%;
  width: 100%;

  background-color: transparent;
  color: black;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.show-map {
  opacity: 1;
}
