.scroll-content{
    background: url("../assets/img/bg-app.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  
  }