<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/app/tabs/home"></ion-back-button>
      </ion-buttons>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
  <img src="../../../assets/img/icon.png">
  </div>
  
  <div class="about">
  <ion-card-content>
      Government College of Engineering,
      Amravati has been a pioneering educational
      institute for over 54 years. It boasts of
      students who have achieved excellence in
      the field of academics and organization.
      We believe our sincerity, dedication and
      focus towards our goal.
    </ion-card-content>
    <ion-card-content>
      Prajwalan, the technical festival of GCOEA
      has grown into India's most anticipated technical 
      festival. What sets prajwalan apart from other 
      technical festival is devotion of students working 
      for it and the urge to deliver the maximum. The 
      Competitions, events and workshops have attracted 
      nearly 15,000 students from all over the country 
      participating & showcasing their talents and excelling 
      in their field.
    </ion-card-content>
    <ion-card-content>  
      From shows like TVF, students performing nukkad 
      natak to spread social awareness also flash mob 
      to display dance skills, Prajwalan has witnessed 
      lot of talents.
    </ion-card-content>
    <ion-card-content>  
      Prajwalan was started in 2006 with the aim to 
      provide technical awareness among students and 
      develop a platform for the technocrats to showcase 
      their talent. It has now become the National level 
      technical festival of India with a footfall of around 
      15,000+ students from all over Maharashtra. It is a 
      two day festive event held in the month of February 
      at Government College of Engineering, Amravati which 
      attracts people all over Maharashtra and Vidarbha 
      including students academia, corporates and the general public.
    </ion-card-content>
    
  </div>

</ion-content>
